html,
body {
    height: 100%;
    width: 100%;
}

#root {
    width: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

div.bio {
    display: flex;
    width: 100%;
    height: 100%;
    column-gap: 20px;
    background-color: rgb(173, 172, 172);
    font-size: 20px;
    color: black;
    padding: 30px;
    box-sizing: border-box;
}

div.paintings>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
    row-gap: 50px;
    background-color: rgb(173, 172, 172);
    font-size: 20px;
    color: black;
    padding: 30px;
    margin: 0, auto;
}

div.paintings h2 {
    text-align: center;
    font-size: 30px;
}

div.paintings>div>div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 90px;
    word-wrap: break-word;
    width: 200px;
    height: 200px;
    text-align: center;
    box-sizing: content-box;
}

div.paintings>div>div img {
    width: 100%;
    height: 100%;
}

div.bio>div.info {
    width: 30%;
}

div.bio>div.info>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;

    row-gap: 10px;
}

div.bio div.info>div>div {
    border: 1px solid black;
    padding: 5px;
}